.footer_container {
  border-top: 2px solid #e87722;
  background-color: #323234;
}
.societies_links {
  display: flex;
}
.societies_links img {
  width: 100px;
}
.societies_links li {
  margin: auto;
}
.societies_links #cs_logo img {
  width: 150px;
}
.copyright {
  text-align: center;
}
.college_link {
  margin-left: 5px;
}
.copyright a {
  font-weight: 200;
  color: rgb(109, 109, 247);
}
.copyright a:hover {
  color: #e87722;
  transition: 0.4s ease-in-out;
}
.copyright h4 {
  font-weight: 200;
  color: white;
}
